@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.sigiri {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.trees {
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 30;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 99999;
    background-color: linear-gradient(to bottom(0, 0, 0, 0.05)transparent);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    width: 130px;
}

.navlist {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navlist ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: auto;

}

.navlist ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 1rem;
}

.navbar :hover {
    background-color: white;
    color: black;
}


.welcome {
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.welcome .span1 {
    font-size: 2rem;
    font-weight: 200;

}

.welcome .span2 {
    font-size: 5.5rem;
    font-weight: 800;
}

section {
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section .container>* {
    margin: 2rem;
}

section img {
    width: 100%;
    border-radius: 10px;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    position: relative;
}

.border {
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 100%;
    left: 0;
    z-index: 50;
    background: linear-gradient(to top, #151515, transparent);
}

.popular {
    height: 200vh;
    width: 100%;
    display: grid;
    padding: 3rem;


}

.popular .content2 {
    color: #fff;
    transform: translateY(-50px);
    margin-right: 3;
}

.popular .title2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    position: relative;

}

.popular .border2 {
    position: absolute;
    width: 15%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.popular p {
    font-size: 1rem;
    color: #fff;
    padding-left: 1rem;
    align-items: center;
    margin-bottom: 3rem;

}

.popular img {
    align-items: center;
    height: 25%;
    width: 25%;
    margin-bottom: 1.5rem;
}


.popular .passage {
    display: grid;
    padding-right: 3rem;
}

.popular h4 {
    font-size: 1;
    font-weight: 400;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.Gallery {
    height: 180vh;
    width: 100%;
    padding: 3rem;
}

.Gallery .content3 {
    color: #fff;
    transform: translateY(-50px);
    margin-right: 3;
}

.Gallery .title3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    position: relative;
}

.Gallery .border3 {
    position: absolute;
    width: 15%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.Gallery .imgss {
    height: 50%;
    width: 50%;
    display: grid;

}

.img1 {
    display: flex;
    padding: 10px;
    border-radius: 20px;
}

.img2 {
    display: flex;
    padding: 10px;
    border-radius: 20px;
}

.img3 {
    display: flex;
    padding: 10px;
    border-radius: 20px;
}

.img4 {
    display: flex;
    padding: 10px;
    border-radius: 20px;
}


.end {
    height: 10vh;
    width: 100%;
    background-color: black;

}

.end h3 {
    color: #fff;
    text-align: center;
}

.end h5 {
    color: #fff;
    text-align: center;


}

.end a {
    color: gold;
    border-bottom: solid #fff 1px;
    font-size: 1rem;
    font-weight: 600;
}




@media (max-width:850px) {

    section .container {
        grid-template-columns: 4fr;
    }

    .popular {
        grid-template-columns: 10fr;
        height: 200vh;
    }

    .content2 .img {
        width: 100%;
        position: relative;
        height: 100%;

    }

    .container .paragraph {
        padding-bottom: none;
        margin-bottom: none;
        position: relative;
    }

    .container .imgcontainer {
        margin-top: none;
        position: relative;
        padding-top: 0;
    }

    .container {
        height: 25vh;
        font-size: 15px;
    }

    .span1 {
        font-size: 1em;
    }

    .Gallery {
        height: 150vh;
        grid-template-columns: 8fr;

    }

    .imgss {
        height: 100px;
        width: 624px;
        align-items: center;
        left: 0;
    }

    .img1 {
        display: inline;
        height: 400px;
        width: 624px;
    }

    .img2 {
        display: inline;
        height: 400px;
        width: 624px;
        position: static;
    }

    .img3 {
        display: inline;
        height: 400px;
        width: 624px;
    }

    .img4 {
        display: inline;
        height: 400px;
        width: 624px;
    }

    .sigiri {
        object-fit: cover;
    }

    .trees {
        object-fit: cover;
    }

    .logo {
        width: 70px;
        padding-right: 10px;

    }

    .navlist ul li a {
        font-size: .7rem;
        padding: 0 .5rem;
    }
}

@media(max-width:300px) {
    .welcome {
        font-size: 4rem;
    }

    .span1 {
        font-size: 2rem;
    }

    .span2 {
        font-size: 3rem;
    }

    text {
        font-size: .8rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .logo {
        width: 50px;
    }

    .navlist {
        font-size: 0.5rem;
    }

    .popular {
        height: 100vh;
    }
}